<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>サイトタイトル</title>
    <meta name="description" content="ディスクリプションを入力">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- [if lt IE 9] -->
    <!-- <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> -->
    <!-- <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script> -->
    <!-- [endif] -->
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBADe500Qkz4TCvVbOC34-20AanN8i45R0">
    </script>
    <script type="text/javascript" src="{{ static_url('script/sample.js') }}">
    </script>
    <link rel="stylesheet" href="{{static_url('css/style.css')}}">
  </head>
  <body>
    <div id="map">
    </div>
    <ul>
      <li>lat:<span id="lat"></span></li>
      <li>lng:<span id="lng"></span></li>
    </ul>
  </body>
</html>